
li {

	border: 1px solid grey;
	color:blue;
	text-decoration: none;
	list-style-type: none;
	display: block;
	border-top:none;
	height: 30px;
 	font-size: 130%;
 	cursor: pointer;
}
#name {
	width: 300px;
	padding: 2px;
	height: 40px;
	font-size: 150%;
}
 
